@import "https://unpkg.com/open-props";
@import "https://unpkg.com/open-props/normalize.min.css";

body {
    display: flow-root;
}

section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: var(--size-2);
    align-items: center;
    padding: var(--size-7);
    margin: var(--size-5);
    background: ;
    border-radius: ;
    box-shadow: ;
}

h2 {}

p {}

a {}